__pycache__
.vscode
desktop.ini
data/
data/*
qubits_5/
qubits_5/*
qubits_10/
qubits_10/*
sso_test_qubits_5_cnots_25_circuit_0/
sso_test_qubits_5_cnots_25_circuit_0/*
sso_test_qubits_5_CNOTS_40_circuit_45/
sso_test_qubits_5_CNOTS_40_circuit_45/*
sso_checks_and_no_checks/
sso_checks_and_no_checks/*